/* RESET GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #6b4683;
    padding: 20px;
    font-family: "Times New Roman", Times, serif;
}

main {
    display: flex;
    border: 2px solid black;
    background-color: #7d529a;
    color: white;
}

#menu {
    width: 22%;
    padding: 20px;
    border-right: 2px solid black;
}

#menu h2 {
    margin-bottom: 20px;
    font-size: 20px;
}

#menu ol {
    padding-left: 20px;
}

#menu li {
    margin-bottom: 15px;
    font-size: 16px;
}

#contenido {
    width: 78%;
    padding: 15px;
}

.renglon {
    display: flex;
    margin-bottom: 15px;
}

.cuadro {
    width: 25%;
    height: 140px;
    border: 2px solid black;
    margin: 5px;
    background-color: #7d529a;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    color: black;
    overflow: hidden;
}

.gradiente_abajo {
    background: linear-gradient(to bottom, #ffffff, #00e5ff);
}

.gradiente_arriba {
    background: linear-gradient(to top, #ffffff, #00e5ff);
}

.gradiente_derecha {
    background: linear-gradient(to right, #ffffff, #00e5ff);
}

.gradiente_izquierda {
    background: linear-gradient(to left, #ffffff, #00e5ff);
}

.imagen_css {
    background-image: url('../imag/berserk.jpg');
    background-size: cover;
    background-position: center;
}

.texto_cuadro {
    flex-direction: column;
    padding: 10px;
    font-size: 12px;
    justify-content: flex-start;
    color: white;
}

.iconos_texto {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
}

.iconos_texto .material-symbols-outlined {
    font-size: 20px;
}

footer {
    margin-top: 15px;
    border: 2px solid black;
    background-color: #7d529a;
    color: white;
    display: flex;
}

.col_footer {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col_izq {
    width: 35%;
    border-right: 2px solid black;
    gap: 15px;
}

.col_centro {
    width: 30%;
    border-right: 2px solid black;
}

.col_centro a {
    color: #00ffff;
    text-decoration: underline;
}

.col_der {
    width: 35%;
    justify-content: space-around;
}